<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
    <h1>Home Page</h1>

    <% if current_user %>
<% if current_user.posts %>
      <div class="card-deck">
      <% current_user.posts.each do |post| %>
        <div class="card mb-3" style="width: 600px;">
        <% post.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
          <div class="card-header">
          <%= cl_image_tag current_user.avatar.key, height: 30, width: 30, crop: :fill, class:"navbar-user-pic"%>
          <%= current_user.name %>
          </div>
            <div class="card-body">
            <p class="card-text"><%= post.content %></p>
            <div class="d-flex">
            <p><%= post.likes.count %></p>
             <% if current_user.already_liked?(post) %>
              <%= button_to post_likes_path(post), method: :delete do%>
                <i class="fa-solid fa-thumbs-up"></i>
              <% end %>
             <% else %>
              <%= button_to post_likes_path(post), method: :post do %>
                <i class="fa-regular fa-thumbs-up"></i>
              <% end %>
             <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>

    <% end %>


    </div>
  </div>
</div>
