<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
    <h1>New post Page</h1>

    <%= simple_form_for(@post) do |f| %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.label :content%>
      <%= f.text_field :content%>
      <%= f.submit %>
    <% end %>
    </div>
  </div>
</div>
