<h3>Show post page</h3>

<p><%=current_user.name %></p>
<h3><%= @post.content %></h3>
<hr>

<% if @post.likes.where(user_id: current_user.id).count == 0 %>
  <%= button_to "ðŸ‘#{@post.likes.count} Like", likes_path(post_id: @post.id), method: :post, class:"btn btn-primary"%>
<% else %>
  <%= button_to "ðŸ‘#{@post.likes.count} Unlike", like_path(@post.id), method: "delete", class:"btn btn-primary"%>
<% end %>
<%= button_to "Delete", post_path(@post), data: { confirm: "Are you sure?" }, method: :delete %>
<%= link_to "Back to all posts", posts_path %>
